/* Light */
@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Medium Italic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Medium.ttf");
  font-weight: 500;   /* medium weight */
  font-style: normal; /* not italic */
}
/* Semibold */
@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Semibold.ttf");
font-weight: 600;
font-style: normal;
}
@font-face {
  font-family: "VagRounded";
  src: url("/assets/fonts/VAG Rounded Next Heavy.ttf");
font-weight: 900;
font-style: normal;
}
@font-face {
    font-family: ZenDots;
  src: url("assets/fonts/zen-dots-latin-400-normal.ttf");
  font-weight: 400;
  font-style: normal;
}
@import "tailwindcss";

@theme {
  --purple-shadow:#845fff;
  --purple-shadow-light:;

  --purple: #845fff;
  --purple-lighter: #cdbeff;
  --pink: #da1262;
  --white: #dfe0f0;
  --dirty-white: #c8c9da;
  --black: #212529;
  --black-lighter:#929497;
  --font-zendots: ZenDots, sans-serif;
  --font-vagrounded: VagRounded, sans-serif;
}

@keyframes moveCircleLtR {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(400px);
  }
}

@keyframes moveCircleRtL {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-400px);
  }
}

@layer utilities {
  .animate-moveCircleLtR {
    animation: moveCircleLtR 20s ease-in-out infinite;
  }
  .animate-moveCircleRtL {
    animation: moveCircleRtL 20s ease-in-out infinite;
  }
  .home-circle {
    @apply absolute rounded-full blur-3xl;
  }
  .login-input {
    @apply placeholder-gray-400 text-[#212529] w-full font-vagrounded text-lg bg-[#DFE0F0] ring ring-white px-8 py-3 rounded-2xl drop-shadow-md/30 focus:outline-none focus:ring-gray-400;
  }
  .form-element-container{
    @apply p-4 justify-self-center w-11/12 transition-all duration-200 ease-out bg-(--white) hover:ring-2 hover:ring-(--purple);
  }
  .form-element-container:focus-within{
    @apply -translate-y-0.5 ring-(--purple) ring-2;
  }
.form-option-input{
  @apply relative px-3 flex items-center gap-2
  ring-(--black-lighter) ring-2 
  focus-within:ring-(--purple) focus-within:ring-2
  bg-(--dirty-white) rounded py-2
  transition-all duration-200 ease-out
  focus-within:bg-(--purple-lighter)
  [&:not(:focus-within)]:hover:bg-(--white)
  w-auto max-w-full;
}
  

  
}
button {
  cursor: pointer;
}
.sticky-row{
  position:sticky;
}

@layer theme {
  * {
    @apply text-[#212529];
  }
}
.App {
  padding: 15px;
}

.list {
  height: 100vh;
  border: 3px solid #333;
}

.card {
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 300px;
  min-height: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 1px solid #e0e0e0;
  border-radius: 10px 10px 0 0;
  padding: 10px 15px;
  background-color: #f0f8ff;
  text-align: center;
  font-weight: 600;
  min-height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.content {
  padding: 5px 10px;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
}
.pageBorder {
  border-image-source: linear-gradient(
    53deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.05) 75%
  );
}
canvas {
  pointer-events: none;
}
.drag-item {
  cursor: grab;
}
.drag-item:active {
  cursor: grabbing;
}
.hide-bar::-webkit-scrollbar {
  display: none;
}

.hide-bar {
  scrollbar-width: none;
}

.hide-bar {
  -ms-overflow-style: none;
}



/* animation lang para sa option input ng checkbox */
/* .option-input:focus{
  outline: none;
}
.option-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.option-input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #2563eb; 
  transition: width 0.3s ease-in-out;
  border-radius: 2px;
}

.option-input:focus-within::before {
  width: 100%;
}

.option-input input {
  width: 100%;
  position: relative;
  z-index: 10;
} */


/* animation para sa option input ng multiple choice */
/* .option-input1 {
  position: relative;
  display: inline-block;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

.option-input1::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.option-input1:focus-within::before {
  opacity: 1;
  transform: scale(1);
}

.option-input1 input {
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 10;
} */



