@font-face {
  font-family: ZenDots;
  src: url("assets/fonts/zen-dots-latin-400-normal.ttf");
}

@font-face {
  font-family: VagRounded;
  src: url("assets/fonts/vag-rounded-next-regular.ttf");
}

@import "tailwindcss";

@theme {
  --purple: #845fff;
  --pink: #da1262;
  --white: #dfe0f0;
  --dirty-white: #c8c9da;
  --black: "#212529";
  --font-zendots: ZenDots, sans-serif;
  --font-vagrounded: VagRounded, sans-serif;
}

@keyframes moveCircleLtR {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(400px);
  }
}

@keyframes moveCircleRtL {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-400px);
  }
}

@layer utilities {
  .animate-moveCircleLtR {
    animation: moveCircleLtR 20s ease-in-out infinite;
  }
  .animate-moveCircleRtL {
    animation: moveCircleRtL 20s ease-in-out infinite;
  }
  .home-circle {
    @apply absolute rounded-full blur-3xl;
  }
  .login-input {
    @apply placeholder-gray-400 text-[#212529] w-full font-vagrounded text-lg bg-[#DFE0F0] ring ring-white px-8 py-3 rounded-2xl drop-shadow-md/30 focus:outline-none focus:ring-gray-400;
  }
}
button {
  cursor: pointer;
}

@layer theme {
  * {
    @apply text-[#212529];
  }
}
.App {
  padding: 15px;
}

.list {
  height: 100vh;
  border: 3px solid #333;
}

.card {
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 300px;
  min-height: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 1px solid #e0e0e0;
  border-radius: 10px 10px 0 0;
  padding: 10px 15px;
  background-color: #f0f8ff;
  text-align: center;
  font-weight: 600;
  min-height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.content {
  padding: 5px 10px;
}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
}
.pageBorder {
  border-image-source: linear-gradient(
    53deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.05) 75%
  );
}
canvas {
  pointer-events: none;
}
.drag-item {
  cursor: grab;
}
.drag-item:active {
  cursor: grabbing;
}
