@font-face {
  font-family: ZenDots;
  src: url("assets/fonts/zen-dots-latin-400-normal.ttf");
}

@font-face {
  font-family: VagRounded;
  src: url("assets/fonts/vag-rounded-next-regular.ttf");
}

@import "tailwindcss";

@theme {
  --purple: #845fff;
  --pink: #da1262;
  --white: #dfe0f0;
  --dirty-white: #c8c9da;
  --black:"#212529";
  --font-zendots: ZenDots, sans-serif;
  --font-vagrounded: VagRounded, sans-serif;
}

@keyframes moveCircleLtR {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(400px);
  }
}

@keyframes moveCircleRtL {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-400px);
  }
}

@layer utilities {
  .animate-moveCircleLtR {
    animation: moveCircleLtR 20s ease-in-out infinite;
  }
  .animate-moveCircleRtL {
    animation: moveCircleRtL 20s ease-in-out infinite;
  }
  .home-circle {
    @apply absolute rounded-full blur-3xl;
  }
  .login-input{
    @apply placeholder-gray-400 text-[#212529] w-full font-vagrounded text-lg bg-[#DFE0F0] ring ring-white px-8 py-3 rounded-2xl drop-shadow-md/30 focus:outline-none focus:ring-gray-400;
  }
 
}
button {
  cursor: pointer;
}

@layer theme{
  *{
    @apply text-[#212529];
  }
}